<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Contact info</h5>
        <p class="grey-text text-lighten-4"><i class="small material-icons">email</i>{{profile.email}}</p>
        <p class="grey-text text-lighten-4"><i class="small material-icons">phone</i>{{profile.phone}}</p>
        <p class="grey-text text-lighten-4"><i class="small material-icons">location_on</i>{{profile.localization}}</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="{{profile.linkedinUrl}}">LinkedIn</a></li>
          <li><a class="grey-text text-lighten-3" href="{{profile.githubUrl}}">Github</a></li>
          <li><a class="grey-text text-lighten-3" href="{{profile.companyUrl}}">Company</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2017 Copyright
    </div>
  </div>
</footer>
