<div class="row col s6">
  <img class="img-size left" src="../../assets/images/Igor.JPG" alt="Igor"/>
  <span class="text col s6">
    <p>Igor is a software developer with more than 8 years experience. Your main background is Web development and Java.</p>
    <p>Since last year (2016) working as a fullstack developer, mainly with React, Angular and NodeJS.</p>
    <p>Oracle Certified Java Programmer, has been working at MATERA Systems since May/2011, in different kind of projects.
      Had a technical leader experience in a international project and also an opportunity to create a booklet to help incomers.</p>
    <a routerLink="/contact" class="waves-effect waves-light btn">Contact me</a>
  </span>
</div>
